name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9.x"
      - run: python -m pip install -U pip
      - run: pip install -e ".[dev]"
      - run: |
          sudo apt-get update
          sudo apt-get install -y pandoc
      - run: pytest

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9.x"
      - run: python -m pip install -U pip
      - run: pip install -e ".[docs]"
      - run: sphinx-build -W -b html docs/source docs/_build/html
